.scanlineOverlay {
    z-index: 0;
    position: fixed;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(to bottom,
                var(--color-bg-primary) 0px,
                var(--color-bg-primary) 2px,
                var(--color-bg-glass) 2px,
                var(--color-bg-glass) 4px,
            );
        background-size: 100% 4px;
    }
}