.education {
    margin-top: 24px;

    @media screen and (min-width: 720px) {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.num {
    display: none;
    line-height: 0.75;

    @media screen and (min-width: 720px) {
        display: block;
        font-size: 8rem;
        opacity: 0.1;
    }

    @media screen and (min-width: 1024px) {
        font-size: 12rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
        text-transform: uppercase;
        font-size: 1.25rem;
        line-height: 1;
        display: flex;
        gap: 24px;

        span {
            font-size: 0.95rem;
            font-weight: 400;
            opacity: 0.2;
        }
    }

    @media screen and (min-width: 720px) {
        width: 100%;

        h2 {
            font-size: 1.5rem;

            span {
                display: none;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        h2 {
            font-size: 2rem;
        }
    }
}

.item {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.95rem;
    line-height: 1.35;
    display: flex;
    gap: 20px;

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }


    >div {
        width: 100%;

        >div {
            margin-bottom: 8px;
        }

        h3 {
            font-size: 0.95rem;
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    @media screen and (min-width: 480px) {
        br {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {
        >div {
            >div {
                display: flex;
                justify-content: space-between;
                gap: 8px;
            }
        }
    }
}