.projects {
    margin-top: 24px;

    @media screen and (min-width: 720px) {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.num {
    display: none;
    line-height: 0.75;

    @media screen and (min-width: 720px) {
        display: block;
        font-size: 8rem;
        opacity: 0.1;
    }

    @media screen and (min-width: 1024px) {
        font-size: 12rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
        text-transform: uppercase;
        font-size: 1.25rem;
        line-height: 1;
        display: flex;
        gap: 24px;

        span {
            font-size: 0.95rem;
            font-weight: 400;
            opacity: 0.2;
        }
    }

    @media screen and (min-width: 720px) {
        width: 100%;

        h2 {
            font-size: 1.5rem;

            span {
                display: none;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        h2 {
            font-size: 2rem;
        }
    }
}

.item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.95rem;
    line-height: 1.35;

    >div {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 0.95rem;

            span {
                font-weight: 400;
            }
        }

        a {
            text-decoration: underline;
        }
    }

    ul {
        margin-left: 16px;
        margin-bottom: 8px;

        @media screen and (min-width: 1024px) {

            max-width: 45vw;
        }
    }
}