.header {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1 {
        text-transform: uppercase;
        font-family: "Lock Serif Light";
        font-size: 2rem;
        line-height: 1;
    }

    .details {
        font-size: 0.95rem;
        line-height: 1.35;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .links {
            display: flex;
            flex-direction: column;

            a {
                text-transform: lowercase;
                text-decoration: underline;
            }
        }
    }

    @media screen and (min-width: 480px) {
        gap: 36px;

        h1 {
            font-size: 2.5rem;
        }

        .details {
            gap: 36px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    @media screen and (min-width: 1024px) {
        h1 {
            font-size: 3rem;
        }
    }
}