.skills {
    margin-top: 24px;

    .num {
        display: none;
        line-height: 0.75;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h2 {
            text-transform: uppercase;
            font-size: 1.25rem;
            line-height: 1;
            display: flex;
            gap: 24px;

            span {
                font-size: 0.95rem;
                font-weight: 400;
                opacity: 0.2;
            }
        }

        >div {
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;

            >div {
                display: flex;
                flex-direction: column;
                gap: 24px;

                h3 {
                    margin-bottom: 12px;
                    text-transform: uppercase;
                    font-size: 0.95rem;
                    opacity: 0.2;
                }

                ul {
                    list-style: none;
                    line-height: 1.35;
                }
            }

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media screen and (min-width: 768px) {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 2fr;

        .num {
            display: block;
            font-size: 8rem;
            opacity: 0.1;
        }

        .container {
            width: 100%;

            h2 {
                font-size: 1.5rem;

                span {
                    display: none;
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .num {
            font-size: 12rem;
        }

        .container {
            h2 {
                font-size: 2rem;
            }
        }
    }
}