.heroTitle {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
    height: 100vh;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h1 {
        font-family: "Lock Serif Light";
        font-size: 22vw;
        font-weight: 400;
        color: var(--color-text-primary);
        text-transform: uppercase;
        line-height: 0.85;
        text-align: center;

        @media screen and (min-width: 720px) {
            font-size: 13vw;
        }
    }
}