.heroDetails {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    z-index: 5;
    color: var(--color-text-secondary);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--color-text-primary);

    >div {
        min-width: fit-content;
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            height: 18px;
            width: 18px;
        }

        &:nth-of-type(2n) {
            display: none;

            @media screen and (min-width: 560px) {
                display: block;
            }
        }
    }
}