.cards {
    z-index: 5;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    // display: none;
}

.cardWrapper {
    flex: 1;
    position: relative;
    aspect-ratio: 3/4; // Maintain aspect ratio for the wrapper
}

.floating {
    width: 100%;
    height: 100%;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, 0); // Use 0,0 relative to container
    }

    50% {
        transform: translate(0, -10px); // Float up slightly
    }

    100% {
        transform: translate(0, 0);
    }
}

.card1 {
    transform-origin: top right;
    z-index: 2;
}

.card2 {
    z-index: 1;
}

.card3 {
    transform-origin: top left;
    z-index: 0;
}