.card {
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--color-bg-primary);
    padding: 6px;
    border: none; // Removed border

    .inner {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        border: none; // Removed border
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            color: var(--color-text-secondary);
            font-size: 12px;

            img {
                height: 12px;
                aspect-ratio: 1/1;
            }
        }

        .centerIcon {
            width: 30%;
            aspect-ratio: 1/1;
        }
    }
}

.cardTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);

    span {
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--color-text-primary-inverse, #000);
    }
}

.cardTitle:nth-child(1) {
    transform: translateY(0);
}

.cardTitle:nth-child(2) {
    transform: translateY(100%);
}

/* Hover Animation */
.card:hover {
    .cardTitle:nth-child(1) {
        transform: translateY(-100%);
    }

    .cardTitle:nth-child(2) {
        transform: translateY(0);
    }
}

/* Accents */
.accent1 {
    background-color: var(--color-accent-pastel-violet);
}

.accent2 {
    background-color: var(--color-accent-pastel-pink);
}

.accent3 {
    background-color: var(--color-accent-pastel-orange);
}