.navMenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    background-color: var(--color-bg-primary);
    border-radius: 6px;
    // border: 1px solid rgba(0, 0, 0, 0.05);
    display: none;

    @media screen and (min-width: 1024px) {
        display: flex;
        gap: 4px;
    }
}