.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;

    .frameTop,
    .frameBottom,
    .frameLeft,
    .frameRight {
        position: absolute;
    }

    .frameTop {
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    }

    .frameBottom {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        border-top: 1px dashed rgba(0, 0, 0, 0.2);
    }

    .frameLeft {
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        border-right: 1px dashed rgba(0, 0, 0, 0.2);
    }

    .frameRight {
        top: 0;
        right: 0;
        width: 20px;
        height: 100%;
        border-left: 1px dashed rgba(0, 0, 0, 0.2);
    }
}