.footer {
    width: 100%;
    background-color: var(--color-bg-primary);
    padding: 20px;
    padding-bottom: 360;
    color: var(--color-text-primary);
    display: flex;
    justify-content: center;

    .footerDetails {
        width: 100%;
        max-width: 1600px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); // Desktop: 4 columns
        gap: 40px;
        padding-top: 60px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 1024px) {
        padding: 0 40px 40px;

        .gridContainer {
            grid-template-columns: repeat(2, 1fr); // Tablet: 2 columns
            gap: 60px;
        }
    }

    @media (max-width: 768px) {
        padding: 20px;

        .gridContainer {
            grid-template-columns: 1fr; // Mobile: 1 column
            gap: 60px;
            padding-top: 40px;
        }
    }
}