.footerAddress {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0.2;
    }

    p {
        text-transform: uppercase;
        font-size: 0.95rem;
    }
}