.footerSocials {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0.2;
    }

    div {
        text-transform: uppercase;
        font-size: 0.95rem;
        display: flex;
        align-items: center;
        gap: 6px;

        img {
            width: 20px;
            aspect-ratio: 1/1;
        }
    }
}